<% provide(:title, '離乳食名検索一覧') %>

<div id="searchs">
    <div class="memo-search-area">
    <%= render 'memos/search' if logged_in? %>
    </div>
    <% if @search.present? %>
      <h3 class="search-case"><span class="square">■</span>”<%= @search %>”の検索結果：<%= @memos.count %>件</h3>
    <% else %>
      <h3 class="search-case"><span class="square">■</span>悩み投稿一覧</h3>
    <% end %>
    <ul class="memos">
      <%= render @memos %>
    </ul>
    <%= paginate @memos %>
</div>