<% provide(:title, '離乳食名検索一覧') %>

<%= link_to '<<戻る', memos_path, class: "back-link" %>
<div id="searchs">
    <div class="memo-search-area">
      <%= render 'memos/search' if logged_in? %>
    </div>
    <div class="memo-search">
      <% if @search.present? %>
        <h3 class="search-case"><span class="square">■</span>”<%= @search %>”の検索結果：<%= @memos.count %>件</h3>
      <% else %>
        <h3 class="search-case"><span class="square">■</span>離乳食メモ一覧</h3>
      <% end %>
    </div>
    <ul class="memos">
      <%= render @memos %>
    </ul>
    <%= paginate @memos %>
</div>